.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: 3px solid var(--Header-Outline);
  padding: 11px;
  padding-left: 21px;
  border-radius: 5px;
}

.logo {
  height: 50px;
  object-fit: contain;
}

.score_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 10px 0;
  width: 80px;
  border-radius: 5px;
}

.score_title {
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--Score-Text);
  font-weight: 700;
}

.score {
  line-height: 41px;
  font-size: 40px;
  font-weight: 700;
  color: var(--Dark-Text);
}

@media screen and (min-width: 800px) {
  .header {
    width: 700px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 10px;
    padding: 15px 25px;
    padding-left: 30px;
  }

  .logo {
    height: 100px;
  }

  .score_container {
    width: 150px;
    padding: 18px 0;
    border-radius: 10px;
  }

  .score_title {
    font-size: 16px;
  }

  .score {
    line-height: 60px;
    font-size: 62px;
  }
}
